<h1>Sucursales</h1>
<div id="branches">
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>telefono</th>
        <th>Mostrar</th>
        <th>Horarios</th>
      </tr>
    </thead>
    <tbody>
      <% @branches.each do |branch| %>
        <tr>
          <td><%= branch.name %></td>
          <td><%= branch.address %></td>
          <td><%= branch.phone_number %></td>
          <td> <%= link_to "Detalles", branch, class: "btn btn-outline-info btn-sm" %> </td>

          <td> <%= link_to "Horarios", branch_schedules_path(branch), class: "btn btn-outline-info btn-sm" %>
        </tr>
         <% end %>
    </tbody>
  </table>
<div>

</div>

<% if can? :create , Branch%>
  <%= link_to "Nueva Sucursal", new_branch_path ,class: "btn btn-info" %>
<% end %>