<%= form_with(model: @user) do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label "Email", style: "display: block" %>
    <%= form.email_field :email ,class:"form-control" %>
  </div>

  <% if @user.role == "staff" %>
    <div class="field form-group">
      <%= form.label "Sucursal", style: "display: block" %>
      <%= form.select :branch, options_for_select(Branch.all, @user.branch) %>
    </div>
  <% end %>

  <div>
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>
