<%= form_with(model: @user) do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> No se puede registrar el Usuario:</h2>
      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label "Email", style: "display: block" %>
    <%= form.text_field :email,  class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label "Contraseña", style: "display: block" %>
    <%= form.password_field :password,  class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label "Confirmar Contraseña" , style: "display: block" ,class:"form-label" %>
    <%= form.password_field :password_confirmation, autocomplete: "new-password",class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-secondary'%>
  </div>
<% end %>
