<%= form_with(model: schedule,url: branch_schedule_url(@branch,@schedule) ) do |form| %>
  <% if schedule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
        <% schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :open_at, style: "display: block" %>
    <%= form.time_field :open_at,class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :close_at, style: "display: block" %>
    <%= form.time_field :close_at,class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :day, style: "display: block" %>
    <%= form.text_field :day,class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.number_field :branch_id, value:@branch.id,type:"hidden" %> 
  </div>

  <div>
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>
