<%= form_with(model: schedule) do |form| %>
  <% if schedule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
        <% schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :open_at, style: "display: block" %>
    <%= form.time_field :open_at %>
  </div>

  <div>
    <%= form.label :close_at, style: "display: block" %>
    <%= form.time_field :close_at %>
  </div>

  <div>
    <%= form.label :day, style: "display: block" %>
    <%= form.text_field :day %>
  </div>

  <div>
    <%= form.label :branch_id, style: "display: block" %>
    <%= form.text_field :branch_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
