<%= form_with(model: schedule,url: branch_schedules_path ) do |form| %>
  <% if schedule.errors.any? %>
    <div style="color: red">
      <ul>
        <% schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label "Abre a las", style: "display: block" %>
    <%= form.time_field :open_at,class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label "Cierra a las", style: "display: block" %>
    <%= form.time_field :close_at,class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label "Dia", style: "display: block" %>
    <%= form.select :day, options_for_select(["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo"], schedule.day) %>
    <%=  %>
  </div>

  <div class="field form-group">
    <%= form.number_field :branch_id, value:@branch.id,type:"hidden" %> 
  </div>

  <div>
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>
