<div id="<%= dom_id schedule %>">
  <p>
    <strong>Open at:</strong>
    <%= schedule.open_at %>
  </p>

  <p>
    <strong>Close at:</strong>
    <%= schedule.close_at %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= schedule.day %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= schedule.branch_id %>
  </p>

</div>
