<div id="<%= dom_id appointment %>">
  <p>
    <strong>Cliente:</strong>
    <%= appointment.client.email %>
  </p>

  <p>
    <strong>Sucursal:</strong>
    <%= appointment.branch.name %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Motive:</strong>
    <%= appointment.motive %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= appointment.status %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= appointment.employee_id %>
  </p>

</div>
