<div id="<%= dom_id appointment %>">
  <p>
    <strong>Client:</strong>
    <%= appointment.client_id %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= appointment.branch_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Motive:</strong>
    <%= appointment.motive %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= appointment.status %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= appointment.employee_id %>
  </p>

</div>
