<%= form_with(model: @appointment) do |form| %>
  <% if @appointment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this @appointment from being saved:</h2>

      <ul>
        <% @appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.label "Sucursal" , style: "display: block" ,class:"form-label" %>
    <%= form.collection_select :branch_id, Branch.all, :id, :name, include_blank: false, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label "Fecha y hora", style: "display: block" %>
    <%= form.datetime_field :date, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label "Motivo", style: "display: block" %>
    <%= form.text_field :motive,class:"form-control" %>
  </div>
  <div class="actions">
    <%= form.submit "Crear turno",class:"btn btn-info" %>
  </div>
<% end %>
