<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.label "Sucursal" , style: "display: block" ,class:"form-label" %>
    <%= form.select :branch, options_for_select(Branch.all, appointment.branch) %>
  </div>
  <div class="field form-group">
    <%= form.label :date, style: "display: block" %>
    <%= form.datetime_field :date %>
  </div>

  <div class="field form-group">
    <%= form.label :motive, style: "display: block" %>
    <%= form.text_field :motive %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
